<div>
    <div class="mine">

        <div class="mine-act mine-act1">
            <div class="btn-large">
                <label class="mine-word">昨天晚上我喝了个烂醉。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">咦？这床怎么不像我平日睡的床！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">难道我睡在旅馆？</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">不是，看样子这里不是旅馆。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">我必须逃离出这个屋子！</label>
            </div>
            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act2')">继续</button>
        </div>

        <div class="mine-act mine-act2 hidden">
            <div class="btn-large">
                <label class="mine-word">你惊恐地瞪大了眼睛望着四方。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">屋里很空，只有一个大衣柜，一张桌子</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">桌子上有一些食物。你昏睡了几天，饿极了。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你刚要拿起食物吃掉的时候，看到旁边有一张纸条。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">纸条的反正面都写满了字。</label>
            </div>
            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act3')">查看字条</button>
        </div>

        <div class="mine-act mine-act3 hidden">
            <div class="btn-large">
                <label class="mine-word">你是第六个来到这儿的人。欢迎你。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">作为主人，我有必要为客人准备东西。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">这些食物就当是我的一点意思。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">快吃吧，你一定饿极了。吃饱了才有力气回家。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">还有，千万记住，屋外面有恐怖的东西，别出去。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">会有人来救你！     ——主人。</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act4')">看反面</button>
        </div>

        <div class="mine-act mine-act4 hidden">
            <div class="btn-large">
                <label class="mine-word">正面的话是假的！别相信他！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">快跑，衣柜里有通道！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">食物被下了毒，你吃掉会死！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">别呆在屋里，一会儿会有僵尸围住你的！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">——无名人。</label>
            </div>
            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act3')">看正面</button><br><br>
            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act5')">相信正面的话</button>
            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act6')">相信反面的话</button>
        </div>

        <div class="mine-act mine-act5 hidden dead">
            <div class="btn-large">
                <label class="mine-word">你没心没肺的把食物吃掉了</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">最后因为食物里有硫酸而腐化之死</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你死了！！！</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act1')">返回</button>
        </div>

        <div class="mine-act mine-act6 hidden">
            <div class="btn-large">
                <label class="mine-word">你颤抖的手打开了衣柜，果然有个密道。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你小心的走进密道，害怕有什么恐怖的东西突然袭击。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">密道里有三间屋，左边的门被上了锁。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">中间的门敞开着，右边的门半掩着。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你来到每扇门前，发现左边的门缝里传出花的香味。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">中间的屋里空荡荡的，有一扇窗户，窗户的玻璃洒进阳光。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">右边的门里也有一个密道，但是却阴森无比</label>
            </div>

            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act7')">进左边门</button>
            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act8')">进中间门</button>
            <button type="button" class="btn btn-primary" ng-click="gotonext('.mine-act9')">进右边门</button>
        </div>

        <div class="mine-act mine-act7 hidden dead">
            <div class="btn-large">
                <label class="mine-word">你选择了左边，可你却打不开门。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">在你费尽周章的时候，一个僵尸突然从你身后出现。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你奋力抵抗，却无奈。。。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你死了！！！</label>
            </div>

            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act1')">返回</button>
        </div>

        <div class="mine-act mine-act8 hidden dead">
            <div class="btn-large">
                <label class="mine-word">你选择了中间，可是一个僵尸正藏在门后面。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">僵尸突然从你身后出现。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你死了！！！</label>
            </div>

            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act1')">返回</button>
        </div>

        <div class="mine-act mine-act9 hidden">
            <div class="btn-large">
                <label class="mine-word">你选择了右边，那条阴森的地道。你先是摸着黑一步一步的往前走。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">地道的某个楼梯一下子绊倒你，你痛苦的跌倒在地上。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">正在你抱着头准备站起来的时候，你又发现一张纸条。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">纸条上画着两个路标，一个指往左边，一个指往右边。</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act10')">继续</button>
        </div>

        <div class="mine-act mine-act10 hidden">
            <div class="btn-large">
                <label class="mine-word">你丝毫没头绪的看了看左右两边。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">左边有几盏灯，不知通往何方。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">右边没有灯，是无尽的黑暗。说不定某僵尸正等着吃了你！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">但是你隐约看到右边的尽头是一扇门，说不定能逃出去！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">但是这么做太冒险了！你犹豫不决。</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act11')">选左边</button>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act12')">选右边</button>
        </div>

        <div class="mine-act mine-act11 hidden dead">
            <div class="btn-large">
                <label class="mine-word">你一向害怕黑暗，好歹有条光明的路，你毫不犹豫的跑了过去。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">正在你觉得能逃跑了的时候。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">灯光都灭掉了，你身后不知啥时候长出一株滕蔓。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">高的惊人，粗的惊人，生长速度更是惊人！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">它迅速抓紧你，你失去了呼吸……</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你死了！！！</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act1')">返回</button>
        </div>

        <div class="mine-act mine-act12 hidden">
            <div class="btn-large">
                <label class="mine-word">你怕黑，就去左边的走廊悄悄拿了一盏灯，转身跑向右边。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">有了灯光的照耀，你幸好没吓得腿都软掉！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你跑到了尽头，看到了那扇门。你想回头看看能不能回去。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你后面被一扇门堵住了，看来你必须进这个屋里！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你胆战心惊的打开门，紧闭双眼。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">过了一会儿，没发生什么事，你睁开眼睛。</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act13')">继续</button>
        </div>

        <div class="mine-act mine-act13 hidden">
            <div class="btn-large">
                <label class="mine-word">你小心翼翼的走进房间，本以为能逃脱掉了。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">这个时候，门外进来两个人。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">一个是跟你差不多大的女孩子，一个是一位成年女子</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">成年女子笑了笑，不慌不忙的走到你旁边，</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">蹲下身来对你说：孩子，相信姐姐，姐姐会带你逃脱。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">姐姐很庆幸你没吃有毒的东西，若不然你就见不到我了！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">那个女人是个疯子，你可不能信了她！她会杀掉你！</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act14')">继续</button>
        </div>

        <div class="mine-act mine-act14 hidden">
            <div class="btn-large">
                <label class="mine-word">女孩看到成年女人讲完，就跑到你身边对你耳语</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">别信那个女人，好多人都因为不信我而落入僵尸的口中！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">那个女人才是这儿的主人，她会派僵尸来杀你！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你必须跟我走，你跟着她会死掉的！别信她！</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你苦无头绪，但是请你做出选择</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act13')">返回上一页，看看成年女子说的话</button><br><br>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act15')">相信成年女子</button>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act16')">相信小女孩</button>
        </div>

        <div class="mine-act mine-act15 hidden dead">
            <div class="btn-large">
                <label class="mine-word">你傻不愣登的选了成年女子</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">结果那女人真的是这儿的主人，她把你送到僵尸墓地。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">吩咐僵尸说：“今晚你们又有肉吃了，还有血喝！”</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你死了！！！</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act1')">返回</button>
        </div>

        <div class="mine-act mine-act16 hidden">
            <div class="btn-large">
                <label class="mine-word">你半信半疑的选了女孩子，别以为女主人会放过你们。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">她先是假装可惜的离开了，还装的那么像。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">女孩子一直提醒你要小心，结果你还是碰到了机关。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">女主人坐在座椅上，被僵尸群们抬了出来。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">僵尸们张牙舞爪，你和女孩子连连后退。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你和女孩子后退到玻璃旁边，唯一的办法就是敲碎玻璃。</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act17')">继续</button>
        </div>

        <div class="mine-act mine-act17 hidden">
            <div class="btn-large">
                <label class="mine-word">可这里很高，万一摔死怎么办？</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你又看到了旁边一扇门，可你害怕里面也有僵尸。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">僵尸群们咄咄逼近，你必须做出个选择！</label>
            </div>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act18')">敲碎玻璃跳下去</button>
            <button type="button" class="btn btn-primary"  ng-click="gotonext('.mine-act19')">走那扇门</button>
        </div>

        <div class="mine-act mine-act18 hidden">
            <div class="btn-large">
                <label class="mine-word">你们跳窗而下，落到水里。跟着一块木头来到小岛。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">女孩要回去拯救别人，只能抛下你自己。</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">祝贺你第一关【僵尸屋】通关！！！</label>
            </div>
        </div>

        <div class="mine-act mine-act19 hidden dead">
            <div class="btn-large">
                <label class="mine-word">你小心翼翼的推开门</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">等待你的却是成堆的僵尸</label>
            </div>
            <div class="btn-large">
                <label class="mine-word">你死了！！！</label>
            </div>
        </div>

    </div>
</div>