<div id="game">
    <div id="game-control">
        <button ng-click="changeButtonStatus('show_map')" class="btn-block btn-primary" id="showmap_button">查看地图</button>
        <button ng-click="changeButtonStatus('show_good')" class="btn-block btn-primary" id="showgood_button">查看物品</button>
        <button ng-click="changeButtonStatus('show_status')" class="btn-block btn-primary" id="showstatus_button">查看状态</button>
        <button ng-click="changeButtonStatus('show_save_tab')" class="btn-block btn-primary" id="save_button">保存进度</button>
        <button ng-click="changeButtonStatus('show_load_tab')" class="btn-block btn-primary" id="load_button">读取进度</button>
        <button ng-click="changeButtonStatus('show_help_tab')" class="btn-block btn-primary" id="help_button">帮助</button>
    </div>
    <canvas id="map"></canvas>
</div>