<div id="elf">
    <div class="row">
        <go-elf elfname="青叶雀" ng-click="showdetail('青叶雀')"></go-elf>
        <go-elf elfname="焰火麟" ng-click="showdetail('焰火麟')"></go-elf>
        <go-elf elfname="宝海豚" ng-click="showdetail('宝海豚')"></go-elf>
        <go-elf elfname="琥珀" ng-click="showdetail('琥珀')"></go-elf>
        <go-elf elfname="花粉宝苞" ng-click="showdetail('花粉宝苞')"></go-elf>
        <go-elf elfname="华羽雀" ng-click="showdetail('华羽雀')"></go-elf>
        <go-elf elfname="炎麒麟" ng-click="showdetail('炎麒麟')"></go-elf>
        <go-elf elfname="海流豚" ng-click="showdetail('海流豚')"></go-elf>
        <go-elf elfname="流莽犬" ng-click="showdetail('流莽犬')"></go-elf>
        <go-elf elfname="嗜血蚊" ng-click="showdetail('嗜血蚊')"></go-elf>
        <go-elf elfname="乐乐兔" ng-click="showdetail('乐乐兔')"></go-elf>
        <go-elf elfname="心心兔" ng-click="showdetail('心心兔')"></go-elf>
    </div>

    <div class="row">
        <go-elf elfname="标标鼠" ng-click="showdetail('标标鼠')"></go-elf>
        <go-elf elfname="万花螳螂" ng-click="showdetail('万花螳螂')"></go-elf>
        <go-elf elfname="花蕊螳螂" ng-click="showdetail('花蕊螳螂')"></go-elf>
        <go-elf elfname="迷幻鸟" ng-click="showdetail('迷幻鸟')"></go-elf>
        <go-elf elfname="幻弧鼠" ng-click="showdetail('幻弧鼠')"></go-elf>
        <go-elf elfname="丑小鸭" ng-click="showdetail('丑小鸭')"></go-elf>
        <go-elf elfname="浣熊仔" ng-click="showdetail('浣熊仔')"></go-elf>
        <go-elf elfname="路由猫" ng-click="showdetail('路由猫')"></go-elf>
        <go-elf elfname="菊儿虫" ng-click="showdetail('菊儿虫')"></go-elf>
        <go-elf elfname="花粉娃娃" ng-click="showdetail('花粉娃娃')"></go-elf>
        <go-elf elfname="嘟嘟蝇" ng-click="showdetail('嘟嘟蝇')"></go-elf>
        <go-elf elfname="朵朵鸟" ng-click="showdetail('朵朵鸟')"></go-elf>
    </div>

    <div class="row">
        <go-elf elfname="暗甲" ng-click="showdetail('暗甲')"></go-elf>
        <go-elf elfname="顽皮仔" ng-click="showdetail('顽皮仔')"></go-elf>
        <go-elf elfname="晶冰石" ng-click="showdetail('晶冰石')"></go-elf>
        <go-elf elfname="晨光鱼" ng-click="showdetail('晨光鱼')"></go-elf>
        <go-elf elfname="炸弹鱼" ng-click="showdetail('炸弹鱼')"></go-elf>
        <go-elf elfname="团子兔" ng-click="showdetail('团子兔')"></go-elf>
        <go-elf elfname="爱心兔" ng-click="showdetail('爱心兔')"></go-elf>
        <go-elf elfname="魔音兔" ng-click="showdetail('魔音兔')"></go-elf>
        <go-elf elfname="丛林懒" ng-click="showdetail('丛林懒')"></go-elf>
        <go-elf elfname="贪吃豆" ng-click="showdetail('贪吃豆')"></go-elf>
        <go-elf elfname="冰石怪" ng-click="showdetail('冰石怪')"></go-elf>
        <go-elf elfname="爆弹鱼" ng-click="showdetail('爆弹鱼')"></go-elf>
    </div>

    <div class="row">
        <go-elf elfname="夕辉鱼" ng-click="showdetail('夕辉鱼')"></go-elf>
        <go-elf elfname="鬼脸蛛" ng-click="showdetail('鬼脸蛛')"></go-elf>
        <go-elf elfname="弗洛美拉" ng-click="showdetail('弗洛美拉')"></go-elf>
        <go-elf elfname="魔翼蛇" ng-click="showdetail('魔翼蛇')"></go-elf>
        <go-elf elfname="艾斯拉" ng-click="showdetail('艾斯拉')"></go-elf>
        <go-elf elfname="咩咩绵" ng-click="showdetail('咩咩绵')"></go-elf>
        <go-elf elfname="枕头咩咩" ng-click="showdetail('枕头咩咩')"></go-elf>
        <go-elf elfname="砂岩蜥" ng-click="showdetail('砂岩蜥')"></go-elf>
        <go-elf elfname="花粉后" ng-click="showdetail('花粉后')"></go-elf>
        <go-elf elfname="夜月蝙蝠" ng-click="showdetail('夜月蝙蝠')"></go-elf>
        <go-elf elfname="梦咪" ng-click="showdetail('梦咪')"></go-elf>
        <go-elf elfname="电波水母" ng-click="showdetail('电波水母')"></go-elf>
    </div>

    <div class="row">
        <go-elf elfname="抱抱熊" ng-click="showdetail('抱抱熊')"></go-elf>
        <go-elf elfname="王魔蛇" ng-click="showdetail('王魔蛇')"></go-elf>
        <go-elf elfname="苍凰雀" ng-click="showdetail('苍凰雀')"></go-elf>
        <go-elf elfname="焱圣麟" ng-click="showdetail('焱圣麟')"></go-elf>
        <go-elf elfname="海神豚" ng-click="showdetail('海神豚')"></go-elf>
        <go-elf elfname="冰晶甜筒" ng-click="showdetail('冰晶甜筒')"></go-elf>
        <go-elf elfname="丹唇贝" ng-click="showdetail('丹唇贝')"></go-elf>
        <go-elf elfname="羽飘飘" ng-click="showdetail('羽飘飘')"></go-elf>
        <go-elf elfname="月痕虎" ng-click="showdetail('月痕虎')"></go-elf>
        <go-elf elfname="窝头鹿" ng-click="showdetail('窝头鹿')"></go-elf>
        <go-elf elfname="丰饶鹿" ng-click="showdetail('丰饶鹿')"></go-elf>
        <go-elf elfname="冰峰牛" ng-click="showdetail('冰峰牛')"></go-elf>
    </div>

    <div class="row">
        <go-elf elfname="奶嘴章鱼" ng-click="showdetail('奶嘴章鱼')"></go-elf>
        <go-elf elfname="粒子沙" ng-click="showdetail('粒子沙')"></go-elf>
        <go-elf elfname="利牙贝" ng-click="showdetail('利牙贝')"></go-elf>
        <go-elf elfname="牙仙鱿" ng-click="showdetail('牙仙鱿')"></go-elf>
        <go-elf elfname="迎春芽" ng-click="showdetail('迎春芽')"></go-elf>
        <go-elf elfname="勾玉蝎" ng-click="showdetail('勾玉蝎')"></go-elf>
        <go-elf elfname="贪食蛇" ng-click="showdetail('贪食蛇')"></go-elf>
        <go-elf elfname="绒衣虫" ng-click="showdetail('绒衣虫')"></go-elf>
        <go-elf elfname="冷光蛾" ng-click="showdetail('冷光蛾')"></go-elf>
        <go-elf elfname="星斑豹" ng-click="showdetail('星斑豹')"></go-elf>
        <go-elf elfname="海菊虫" ng-click="showdetail('海菊虫')"></go-elf>
        <go-elf elfname="珊瑚虾" ng-click="showdetail('珊瑚虾')"></go-elf>
    </div>

    <div class="row">
        <go-elf elfname="沙滩蟹" ng-click="showdetail('沙滩蟹')"></go-elf>
        <go-elf elfname="棕皮虫" ng-click="showdetail('棕皮虫')"></go-elf>
        <go-elf elfname="水螺羚" ng-click="showdetail('水螺羚')"></go-elf>
        <go-elf elfname="海摩羯" ng-click="showdetail('海摩羯')"></go-elf>
        <go-elf elfname="星贝龙" ng-click="showdetail('星贝龙')"></go-elf>
        <go-elf elfname="佐罗浣" ng-click="showdetail('佐罗浣')"></go-elf>
        <go-elf elfname="幻象王" ng-click="showdetail('幻象王')"></go-elf>
        <go-elf elfname="迷幻鸦" ng-click="showdetail('迷幻鸦')"></go-elf>
        <go-elf elfname="星光龙" ng-click="showdetail('星光龙')"></go-elf>
        <go-elf elfname="星辉翼龙" ng-click="showdetail('星辉翼龙')"></go-elf>
        <go-elf elfname="砂丘蜥" ng-click="showdetail('砂丘蜥')"></go-elf>
        <go-elf elfname="砂暴龙" ng-click="showdetail('砂暴龙')"></go-elf>
    </div>

    <div class="row">
        <go-elf elfname="熊猫食者" ng-click="showdetail('熊猫食者')"></go-elf>
        <go-elf elfname="食神熊猫" ng-click="showdetail('食神熊猫')"></go-elf>
        <go-elf elfname="针弹球" ng-click="showdetail('针弹球')"></go-elf>
        <go-elf elfname="针刺兵卫" ng-click="showdetail('针刺兵卫')"></go-elf>
        <go-elf elfname="针刺战车" ng-click="showdetail('针刺战车')"></go-elf>
        <go-elf elfname="火辣辣" ng-click="showdetail('火辣辣')"></go-elf>
        <go-elf elfname="萝莉辣" ng-click="showdetail('萝莉辣')"></go-elf>
        <go-elf elfname="迎春兽" ng-click="showdetail('迎春兽')"></go-elf>
        <go-elf elfname="沙堡蟹" ng-click="showdetail('沙堡蟹')"></go-elf>
        <go-elf elfname="玉魂蝎" ng-click="showdetail('玉魂蝎')"></go-elf>
        <go-elf elfname="金刚王" ng-click="showdetail('金刚王')"></go-elf>
        <go-elf elfname="幻彩貂" ng-click="showdetail('幻彩貂')"></go-elf>
    </div>

    <div class="go-elf-detail hidden">
        <h1>{{elfname}}</h1>
        <div class="go-img-detail">
            <img src={{imgname}}>
        </div>
        <div class="go-elf-desc">
            <label class="stroke">{{elfdesc}}</label>
        </div>
        <button type="button" class="btn btn-primary" ng-click="cancel()">取消</button>
    </div>
</div>