<nav id="top-tab-box">
    <div id="top-tab" class="clearfix">
        <div id="top-cats">
            <div class="toplevel">
                <div class="lineicon">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <span>所有分类</span>
            </div>
            <ul class="catitmlst">
                <li>
                    <i class="iconfont icon">&#xe6ef;</i>
                    <span>母婴儿童</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                    <div class="ctgcard clearfix">
                        <div class="ctglist">
                            <div class="ctgtbl">
                                <div class="clearfix">
                                    <div class="litd">
                                        <div class="item">
                                            <p class="title">
                                                <a>奶粉</a>
                                            </p>
                                        </div>
                                        <div class="ctgnamebox">
                                            <a class="ctgname3">爱他美</a>
                                            <a class="ctgname3">牛栏</a>
                                            <a class="ctgname3">a2</a>
                                            <a class="ctgname3">喜宝</a>
                                            <a class="ctgname3">贝拉米</a>
                                            <a class="ctgname3">惠氏</a>
                                            <a class="ctgname3">美素佳儿</a>
                                            <a class="ctgname0">美林</a>
                                            <a class="ctgname3">雅培</a>
                                            <a class="ctgname0">美赞臣</a>
                                            <a class="ctgname0">雀巢</a>
                                            <a class="ctgname3">合生元</a>
                                            <a class="ctgname0">满趣健</a>
                                            <a class="ctgname3">Pre段</a>
                                            <a class="ctgname3">1段</a>
                                            <a class="ctgname3">2段</a>
                                            <a class="ctgname0">3段</a>
                                            <a class="ctgname0">5段（2+）</a>
                                            <a class="ctgname0">4段（1+）</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="iconfont icon">&#xe642;</i>
                    <span>美容彩妆</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe656;</i>
                    <span>服饰鞋包</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe62b;</i>
                    <span>家居个护</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe608;</i>
                    <span>营养保健</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe64c;</i>
                    <span>海外直邮</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe64b;</i>
                    <span>数码家电</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe60c;</i>
                    <span>环球美食</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe600;</i>
                    <span>运动户外</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
                <li>
                    <i class="iconfont icon">&#xe62f;</i>
                    <span>水果生鲜</span>
                    <i class="iconfont arr">&#xe66b;</i>
                    <em class="vcenter"></em>
                    <em class="seg"></em>
                </li>
            </ul>
        </div>
        <ul id="func-tab" class="clearfix">
            <li class="navitm">
                <a>秒杀</a>
            </li>
            <li class="navitm">
                <a>每日上新</a>
            </li>
            <li class="navitm">
                <a>优惠券</a>
            </li>
            <li class="navitm">
                <a>闪购</a>
            </li>
            <li class="navitm">
                <a>MINE会员</a>
            </li>
            <li class="navitm">
                <a>数码广场</a>
            </li>
            <li class="navitm">
                <a>人气面膜</a>
            </li>
            <li class="navitm">
                <a>全球旗舰</a>
            </li>
            <li class="navitm">
                <a>充值</a>
            </li>
        </ul>
    </div>
</nav>
<div class="wrap topBgWrapPos">
    <article class="topBgWrap clearfix">
        <div id="img-carousel" class="imgBox carousel slide">
            <section class="sliderBox">
                <ul id="show-pic" class="carousel-inner">
                    <li data-target="#img-carousel" class="item active">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner001.jpg">
                    </li>
                    <li data-target="#img-carousel" class="item">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner002.jpg">
                    </li>
                    <li data-target="#img-carousel" class="item">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner003.jpg">
                    </li>
                    <li data-target="#img-carousel" class="item">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner004.jpg">
                    </li>
                    <li data-target="#img-carousel" class="item">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner005.jpg">
                    </li>
                    <li data-target="#img-carousel" class="item">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner006.jpg">
                    </li>
                    <li data-target="#img-carousel" class="item">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner007.jpg">
                    </li>
                    <li data-target="#img-carousel" class="item">
                        <img class="showImg" src="../app/img/onlineshop/banner/banner008.jpg">
                    </li>
                </ul>
                <table class="img_pagebox" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td class="pageBox">
                            <span class="img_pageBtn carousel-indicators">
                                <a data-target="#img-carousel" data-slide-to="0" class="active first">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">1</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="1">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">2</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="2">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">3</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="3">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">4</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="4">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">5</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="5">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">6</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="6">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">7</span>
                                </a>
                                <a data-target="#img-carousel" data-slide-to="7" class="last">
                                    <i class="iconfont icon-circlesoild">&#xe64f;</i>
                                    <span class="num">8</span>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="control">
                    <div>
                        <a class="prev" ng-click="prev()">
                            <i class="iconfont">&#xe680;</i>
                        </a>
                        <a class="next" ng-click="next()">
                            <i class="iconfont">&#xe681;</i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </article>
    <article class="sellPointBox">
        <section class="contentwrap clearfix">
            <div class="sellPoint clearfix">
                <a class="itm">
                    <i class="iconfont">&#xe6f4;</i>
                    100%正品
                </a>
                <a class="itm">
                    <i class="iconfont">&#xe609;</i>
                    7天无理由退货
                </a>
                <a class="itm">
                    <i class="iconfont">&#xe601;</i>
                    满99包邮（部分特殊商品除外）
                </a>
            </div>
            <div class="download">
                <i class="phone iconfont">&#xe791;</i>
                <a>领我的世界888元新人礼，APP下单更享手机价</a>
            </div>
        </section>
    </article>
</div>
<footer id="doc-foot">

</footer>
