<div id="mineworld">
    <div>
        <label class="stroke">文字冒险游戏</label>
        <img src="./img/word.jpg" ng-click="gotomine()">
    </div>

    <div>
        <label class="stroke">城市精灵go</label>
        <img src="./img/go/gobg.jpg" ng-click="gotomine2()">
    </div>

    <div>
        <label class="stroke">canvasDemo</label>
        <img src="./img/canvas.jpg" ng-click="gotomine3()">
    </div>

    <div>
        <label class="stroke">canvasDemo2</label>
        <img src="./img/canvas.jpg" ng-click="gotomine4()">
    </div>

    <div>
        <label class="stroke">canvasDemo3</label>
        <img src="./img/canvas.jpg" ng-click="gotomine5()">
    </div>

    <div>
        <label class="stroke">canvasDemo4</label>
        <img src="./img/canvas.jpg" ng-click="gotomine6()">
    </div>

    <div>
        <label class="stroke">canvasDemo5</label>
        <img src="./img/canvas.jpg" ng-click="gotomine7()">
    </div>

    <div>
        <label class="stroke">canvasDemo6</label>
        <img src="./img/canvas.jpg" ng-click="gotomine8()">
    </div>
</div>